.main {
    /* background-color: rgb(10, 27, 218); */
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;

}

form h1 {
    color: white;
    border-radius: 10px;
    font-size: 30px;
    background: linear-gradient(#1c22d4, var(--color));
    padding: 15px;

}
.button{
    margin-top: 1rem;
    display: inline-block;
    padding:0.9rem 4rem;
    border-radius: 10px;
    font-size: 2rem;
    color:#fff;
    background: linear-gradient(#1c22d4, var(--color));
    cursor: pointer;
    border: none;
  }
   .button:hover{
    letter-spacing: .2rem;
    opacity: .8;
  }
  #form{
    border:2px solid #041a2c;
    padding: 20px;
    border-radius: 10px;
  }
  #email{
    font-size: 20px;
  }
  #name{
    font-size: 20px;
  }
  #cpassword{
    font-size: 20px;
  }
  #password{
    font-size: 20px;
  }